<div class="text-right">
  <%= link_to "Create Facebook App", new_facebook_app_path, class: "btn btn-primary" %>
</div>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>APP ID</th>
      <th>APP SECRET</th>
      <th>Page Url</th>
      <th></th>
    </tr>
  </thead>
  <% @facebook_apps.each do |facebook_app| %>
    <tr>
      <td><%= link_to facebook_app.name, edit_facebook_app_path(facebook_app) %></td>
      <td><%= facebook_app.app_id %></td>
      <td><%= facebook_app.app_secret %></td>
      <td><%= facebook_app.page_url %></td>
      <td>
        <%= link_to "Monitor tasks",
          facebook_app_monitor_tasks_path(facebook_app),
          class: "btn btn-info"
        %>
        <%= link_to "Edit",
          edit_facebook_app_path(facebook_app),
          class: "btn btn-primary"
        %>
        <%= link_to "Delete",
          facebook_app_path(facebook_app),
          class: "btn btn-danger",
          method: :delete,
          data: { confirm: "Are you sure?" }
        %>
      </td>
    </tr>
  <% end %>
</table>
